extends layout


block content
  section(class="main-content-container")
    div(class="main-content")
      div(class="side-bar")
        li(class="side-bar-li side-bar-link"): a(href="/") Home
        li(class="side-bar-li side-bar-link"): a(href="/search") Questions
      div(class="questions-section")
        ul(class="questions-header")
          li: h2(class="questions-title") #{question.title}
          li
            button(type="submit" class="ask-question-button"): a(href='/questions/ask') Ask a Question
        div(class="question-container")
          ul(class="question-score-data")
          div(class="curr-question-section")
            p #{question.question}
            if locals.authenticated
              if question.userId === locals.user.id
                div(class="question-edit-buttons")
                  div(id="question-button-1" class="button-EL-div")
                    button(class="login-button" id="edit-question-button"): a(href=`/questions/${question.id}/edit`) Edit Question
                  div(id="question-button-2" class="button-EL-div")
                    button(class="login-button" id="delete-question-button") Delete Question
        if locals.user && question.userId !== locals.user.id
          div(class="know-container")
            ul(class="score-data")
              li: button(type="submit" class="ask-question-button"): a(href=`/questions/${question.id}/answer`) Answer This Question
        if question.Answers.length < 1
          div(class="know-container")
            div(class="know-section")
              p
                span  Know someone who can answer? Share a link to this
                  a(class="know-link" href=`/questions/view/${question.id}`)  question
                  | !
        else
          div(class="know-container")
            div(class="know-section")
              p #{question.Answers.length} Answers
          each answer in question.Answers
            div(class="answer-container")
              ul(class="score-data")
                if locals.autenticated
                  i(class="answer-score" id=`answer-${answer.id}-upvote`)
                    i(class="fas fa-chevron-up")
                li(class="answer-score") #{answer.answerScore ? answer.answerScore : 0}
                if locals.autenticated
                  li(class="answer-score" id=`answer-${answer.id}-downvote`)
                    i(class="fas fa-chevron-down")
                else
                  li(class="answer-score logged-out-score" ) Score
              div(class="curr-question-section")
                p #{answer.title}
                p #{answer.answer}
                if locals.authenticated
                  if answer.userId === locals.user.id
                    div(class="question-edit-buttons")
                      div(id="question-button-1" class="button-EL-div")
                        button(class="login-button edit-answer-button" id=`${answer.id}-edit` ): a(href=`/answers/${answer.id}/edit`) Edit Answer
                      div(id="question-button-2" class="button-EL-div")
                        button(class="login-button delete-answer-button" id=`${answer.id}-delete`  ) Delete Answer
      div(class="empty-right-bar")
    if locals.authenticated
      script(src="/javascripts/questionview.js" type="module" defer)
      script(src="/javascripts/canceldelete.js" type="module" defer)
      script(src="/javascripts/voting.js" type="module" defer)
